<!DOCTYPE html>
<!-- Change ng-app so that it takes an argument of "sportsTeam" -->
<html ng-app="sportsTeam">
<head>
  <title>Our first AngularJS page</title>
  <script src="/common/js/angular/angular.js"></script>
  <script src="first-angular-better.js"></script>
  <!--
  Add a script tag pointing to first-angular-better.js
  -->

</head>
<body>
<!-- Add an ng-controller attribute which loads MainCtrl -->
<div ng-controller="teamListController">
  <p>
    <label for="team">Please name your favorite sports team: </label>
    <input ng-model="team" type="text" name="team" id="team" autofocus/>
  </p>

  <p ng-if="team">
    Your favorite team is the {{ team.toUpperCase() }}.
  </p>

  <p>Here are some other sports teams: </p>

  <!--
  Add an unordered list which lists out the teams in $scope.teams
  -->
  <input type="text" ng-model="teamFilter"
  <ul>
    <li ng-repeat="team in teams  | filter : teamFilter">{{team}}</li>
  </ul>
  <br />
  <div ng-show="(teams | filter: teamFilter).length === 0">
      No Teams found.
  </div>
  {{(teams | filter: teamFilter).length | number}} teams found.

</div>

</body>
</html>
